<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">          
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if app.user.username == "admin" %}
                    <li>
                        <a class="navbar-brand" href="/">AIL Administration</a>
                    </li>
                {% else %}
                    <li>
                        <a class="navbar-brand" href="/">AIL</a>
                    </li>
                {% endif %}
            {% else %}
                <li>
                    <a class="navbar-brand" href="/">AIL</a>
                </li>
            {% endif %}
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if app.user.username == "admin" %}
                        <li>
                            <a href="/backend/create">
                              <span class="glyphicon glyphicon-plus"></span>
                            Add</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/profile">
                              <span class="glyphicon glyphicon-user"></span>
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username},
                'FOSUserBundle') }}
                            </a>
                        </li>
                        <li>
                            <a href="/profile/edit">
                              <span class="glyphicon glyphicon-pencil"></span>
                              Edit profile</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="/common/directions">
                          <span class="glyphicon glyphicon-road"></span>
                          Directions</a>
                    </li>
                    <li>
                        <a href="/common/list">
                        <span class="glyphicon glyphicon-list"></span>
                        Establishments</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="/register">Sign-up</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                          <span class="glyphicon glyphicon-log-in"></span></a>

                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
