{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" ng-controller="MapCtrl as vm">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="col-md-12 margin-top-100">
                {% verbatim %}
                    <ng-map zoom="{{vm.zoom}}" center="[{{vm.clat}},{{vm.clng}}]" class="height-550">
                    {% endverbatim %}
                    {% for estab in estabs %}
                        <marker position="[{{estab.latitude}},{{estab.longitude}}]" title="{{estab.name}}" animation="Animation.BOUNCE"></marker>
                    {% endfor %}
                    {% verbatim %}
                    </ng-map>
                {% endverbatim %}
                <h2 class="page-header">Establishments list</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        {% for estab in estabs %}
                            <tr>
                                <td>{{estab.name}}</td>
                                <td>{{estab.type}}</td>
                                <td>
                                    <a href="/common/details/{{estab.id}}" class="btn btn-success">View</a>
                                    {% if app.user.username == "Tarek Brahim" %}
                                        <a href="/backend/edit/{{estab.id}}" class="btn btn-default">Edit</a>
                                        <a href="/backend/delete/{{estab.id}}" class="btn btn-danger">Delete</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="margin-top-100">
                    <div class="col-md-6 col-md-offset-3">
                        <h2 class="header-page">
                            MISIE Academic Institutions Localisation
                        </h2>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t34.0-12/12980369_1137390629638349_2125880167_n.png?oh=4a192b89ffb2697f255f7cae9878fcda&oe=571070A9">
                    </div>
                </div>
            {% endif %}
        </div>

    {% endblock %}

    {% block stylesheets %}{% endblock %}
