{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" ng-app="app" ng-controller="MapCtrl as vm">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="col-md-12 margin-top-100">
                {% verbatim %}
                    <ng-map zoom="{{vm.zoom}}" center="[{{vm.clat}},{{vm.clng}}]" class="height-550">
                    {% endverbatim %}
                    {% for estab in estabs %}
                        <marker position="[{{estab.latitude}},{{estab.longitude}}]" title="{{estab.name}}" animation="Animation.BOUNCE"></marker>
                    {% endfor %}
                    {% verbatim %}
                    </ng-map>
                {% endverbatim %}
                {% else %}
                <div class="margin-top-100">
                    <div class="col-md-6 col-md-offset-3">
                        <h2 class="header-page">
                            MISIE Academic Institutions Localisation
                        </h2>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t34.0-12/12980369_1137390629638349_2125880167_n.png?oh=4a192b89ffb2697f255f7cae9878fcda&oe=571070A9">
                    </div>
                </div>
            {% endif %}
        </div>

    {% endblock %}

    {% block stylesheets %}{% endblock %}
