{% extends 'base.html.twig' %}
{% block body %}
    <div class="row margin-top-50">
        <h2 class="page-header">{{estab.name}}
            (Gallery)</h2>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if app.user.username == "admin" %}
                <div class="margin-buttom-30">
                    {{ form_start(galleryform, {'method': 'POST'}) }}
                    {{ form_widget(galleryform) }}
                    {{ form_end(galleryform, {'render_rest': true}) }}
                </div>
            {% endif %}
            {% if pictures != null %}
                {% for picture in pictures %}
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <div class="thumbnail">
                            <img class="img-responsive" id="imgfound" src="{{picture.url}}" >
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <img id="imgnotfound" src="http://www.vishmax.com/en/innovattive-cms/themes/themax-theme-2015/images/no-image-found.gif" alt=""/>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
