{% extends 'base.html.twig' %}
{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="row margin-top-50" ng-app="app" ng-controller="ListCtrl">
            <h2 class="page-header">Establishments list</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for estab in estabs %}
                        <tr>
                            <td>{{estab.name}}</td>
                            <td><strong>{{estab.type}}</strong></td>
                            <td>
                                <a href="/common/details/{{estab.id}}" class="btn btn-success">
                                    <span class="glyphicon glyphicon-check"></span>
                                    View</a>
                                {% if app.user.username == "admin" %}
                                    <a href="/backend/update/{{estab.id}}" class="btn btn-default">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Update</a>
                                    <a href="/backend/delete/{{estab.id}}" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
