{% extends 'base.html.twig' %}
{% block body %}
    <div class="row margin-top-50" ng-controller="MapCtrl as vm">
        <h2 class="page-header">Add Institution</h2>
        <div class="col-md-6">
            {{ form_start(form, {'method': 'POST'}) }}
            <div class="" ng-hide="true">
              {{ form_widget(form.Latitude) }}
              {{ form_widget(form.Longitude) }}
            </div>
            {{ form_end(form, {'render_rest': true}) }}
        </div>
        <div class="col-md-6">
          {% verbatim %}
          <div ng-show="false">
              {{vm.lat | number:7}}
              {{vm.lng | number:7}}
          </div>
            <ng-map zoom="{{vm.zoom}}" center="{{vm.clat}},{{vm.clng}}" class="height-500">
              <marker position="[{{vm.lat}},{{vm.lng}}]" animation="Animation.BOUNCE"></marker>
            </ng-map>
            {% endverbatim %}
        </div>
    </div>
{% endblock %}
