{% extends 'base.html.twig' %}
{% block body %}
    <div class="row margin-top-50">
        <h2 class="page-header">Update Institution</h2>
        <div class="col-md-6">
            {{ form_start(form, {'method': 'POST'}) }}
            {{ form_widget(form) }}
            {{ form_end(form, {'render_rest': true}) }}
        </div>
        <div class="col-md-6" ng-app="app" ng-controller="MapCtrl as vm">
            {% verbatim %}
                <div ng-show="false">
                    {{vm.lat | number:7}}
                    {{vm.lng | number:7}}
                </div>
            {% endverbatim %}
            <ng-map zoom="16" center="{{estab.latitude}},{{estab.longitude}}" class="height-500">
                <marker position="[{{estab.latitude}},{{estab.longitude}}]" title="{{estab.name}}" animation="Animation.BOUNCE"></marker>
            </ng-map>            
        </div>
    </div>
{% endblock %}
